@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;
@use "./../../styles/variables" as *;

.container {
  width: 85%;
  height: 90%;
  background-color: $mainColorDark;
  border-radius: $outerRadius;
  @include flex(space-between, center);
  padding: 20px;
  overflow: auto;
  .leftSide {
    width: 70%;
    height: $fullSize;
    // background-color: beige;
    @include flex(space-between, center, column);
    .searchItemBox {
      width: $fullSize;
      height: auto;
      // background-color:chocolate;
      @include flex(flex-start,flex-start, column);
      gap: 10px;
      .searchItem{
        width: $fullSize;
        height: 80px;
      }
      span{
        margin-bottom: 12px;
        @include title()
      }
    }

    .airConditionsBox{
      width: $fullSize;
      height: auto;
      // background-color: rgb(93, 222, 237);
    }
  }

  .rightSide {
    width: 25%;
    height: $fullSize;
    background-color: $mainColorMiddle;
    padding: 25px;
    border-radius: $outerRadius;
  }
}
