@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;
@use "./../../styles/variables" as *;

.container {
  width: 85%;
  height: 90%;
  background-color: $mainColorDark;
  border-radius: $outerRadius;
  @include flex(space-between, center);
  padding: 20px;
  overflow: auto;
  position: relative;
  .video{
    width: $fullSize;
    height: $fullSize;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
  }
  .searchBox{
    width: $fullSize;
    height: 250px;
    z-index: 9;
    @include flex(center, center);
    .searchField{
      width: 65%;
      height: $fullSize;
      background-color: rgba(6, 4, 38, 0.285);
      border-radius: 15px;
      padding: 0 20px;
      @include flex(center, center, column);
      gap : 10px;
      h1{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 300;
        color: $textColorLight;
        margin-top : 20px;
      }
      p{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 200;
        color: $textColorLight;
      }
    }
  }
  .leftSide {
    width: 70%;
    height: $fullSize;
    // background-color: beige;
    @include flex(space-between, center, column);
    .searchItemBox {
      width: $fullSize;
      height: auto;
      // background-color:chocolate;
      @include flex(flex-start,flex-start, column);
      gap: 10px;
      .searchItem{
        width: $fullSize;
        height: 80px;
      }
      span{
        margin-bottom: 12px;
        @include title()
      }
    }

    .airConditionsBox{
      width: $fullSize;
      height: auto;
      // background-color: rgb(93, 222, 237);
    }
  }

  .rightSide {
    width: 25%;
    height: $fullSize;
    background-color: $mainColorMiddle;
    padding: 25px;
    border-radius: $outerRadius;
  }
}
