@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.container{
    width: 120px;
    height: $fullSize;
    background-color: $mainColorMiddle;
    // border-radius: $innerRadius;
    padding: 0 10px;
    border-right: 1px solid $textColorMiddle;
    flex-shrink: 0;
    @include flex(space-between, center, column);
    .time{
        @include title(15px);
    }
    img{
        width: 50px;
        height: 50px;
    }
    .temperature{
        @include title(20px, $textColorLight);
        font-weight: 500;
    }
    &:last-child{
        border-right: none;
    }
}