@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;
@use "./../../styles/variables" as *;


.container{
    width: $fullSize;
    height: auto;
    background-color: $mainColorMiddle;
    border-radius: 15px;
    padding: 20px 15px;
    @include flex(space-between, flex-start, column);
    gap: 25px;

    p{
        @include title();
        font-weight: 600;
    }
    .todayFoecast{
        width: $fullSize;
        height: 120px;
        // background-color: beige;
        @include flex(space-between, center);
        overflow: auto;
     