@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.searchBox{
    width: $fullSize;
    height: 50px;
    form{
        width: $fullSize;
        height: $fullSize;
        position: relative;
        .searchIcon{
            position: absolute;
            top: calc(50% - 13px);
            left: 16px;
            font-size: 26px;
            color: $textColorMiddle;
        }

        .searchField{
            width: $fullSize;
            height: $fullSize;
            background-color: $mainColorMiddle;
            outline: none;
            border: none;
            border-radius: $innerRadius;
            color: $textColorMiddle;
            font-size: 16px;
            font-weight: 200;
            padding: 0 $inputPadding;
            padding-left: 56px;
        }
        .transparent{
            background-color: rgba(0, 0, 0, 0.282);
            color: $textColorLight;
            &::placeholder{
                color: $textColorMiddle;
            }
        }
    }
}


